/* CSS declarations go here */
a {
  text-decoration:none;
}
a:link {
color: #000;
}
a:visited {
color: #000;
}
a:hover {
color: #000;
}
a.nav {
  text-decoration: underline;
}
a.chat {
  text-decoration: underline;
}
/*
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
}
td {
	padding: 0px 0px 3px 3px;
}
*/
table.grid {
  font-family: Arial, Geneva, sans-serif;
  font-size: larger;
  width: 20px;
  padding: 2px 2px 6px 6px;
}
table.driverlist, td.driverlist {
  font-family: Arial, Geneva, sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}
td.drivernum {
  border: 1px solid black;
  padding: 6px;
  text-align: center;
}
.cleanTable {
  border: 0px solid #FFF;
  background-color: #EEE;
  margin: 2px 2px 2px 2px;
}
#status_SMB {
	background-color: #ff9d00;
}
#status_ASK {
	background-color: #FFF200;
}
#status_MSG {
	/* background-color: #a300ff; */
	/* background-color: #40b5fd; */
	background-color: #009eff;
}
/* problem with SPOT configuration - messages not parsable */
/* db might now be truncating pilot_status to 3 chars */
#status_SPO, #status_SPOT {
	background-color: #80bffb;
}

/* landed in goal, but not PUP yet */
#status_LZ1{
	background-color: #c6e83e;
}
#status_LZ2{
	background-color: #AAA;
}
#status_GOL {
	background-color: #c4c483;
}
#status_FLY {
	background-color: #FF5050;
}
#status_LOK {
	background-color: #FFA;
}
#status_PUP {
	background-color: #3C3;
}
#status_TST {
	background-color: #affbf9;
	/* background-color: #00fff9; */
}
#status_AID {
	background-color: #F6C;
}
#status_FIN {
  background-color: #FFF;
  color: #3C3;
}
#status_FNL {
  background-color: #FFF;
  color: #3C3;
}
#status_NOT {
  background-color: #DDD;
}
#status_ABS {
  background-color: #DDD;
}
#status_DNF {
  background-color: #DDD;
}

#status_ {
  background-color: #DDD; 
}

/* new driver status codes and updated (all purplish) colors */
/* note that some old colors were left in case these aren't distinct enough */
#status_DR0 {
  background-color: #DDD;
}
#status_DRA {
  background-color: #b500f7;
}
#status_DRB {
  /* background-color: #bc1af8; */
  background-color: #a468fb;
}
#status_DRC {
  /* background-color: #c433f9; */
  background-color: #e29afc;
}
#status_DRD {
  /* background-color: #cb4df9; */
  background-color: #f0ccfe;
}
#status_DRE {
  background-color: #864df9;
}
#status_DRF {
  background-color: #da80fb;
}
#status_DRG {
  /* background-color: #e199fc; */
  /* background-color: #c868fb; */
  background-color: #bc68fb;
}
#status_DRH {
  /* background-color: #e9b3fd; */
  background-color: #d1b3fd;
}
#status_DRI {
  /* background-color: #f0ccfd; */
  background-color: #f8e6fe;
}
#status_DRJ {
  background-color: #c5c5fc;
}
#status_DRK {
  /* background-color: #e9b3fd; */
  background-color: #9766fa;
}
#status_DRL {
  /* background-color: #5200f7; */
  background-color: #d368fb;
}
#status_DRM {
  /* background-color: #631af8; */
  /* background-color: #c29afc; */
  background-color: 8070ff;
}
#status_DRN {
  /* background-color: #7533f9; */
  background-color: #e0ccfe;
}
#status_DRO {
  background-color: #d366fa;
}
#status_DRP {
  background-color: #9595f9;
}
#status_DRQ {
  /* background-color: #a980fb; */
  background-color: #ddb3fd;
}
#status_DRR {
  /* background-color: #ba99fc; */
  background-color: #bc68fb;
}
#status_DRS {
  background-color: #ae73e5;
}
#status_DRT {
  /* background-color: #dcccfd; */
  background-color: #d29afc;
}
#status_DRU {
  /* background-color: #007ff7; */
  background-color: #e8ccfe;
}
#status_DRV {
  /* background-color: #1a8cf8; */
  background-color: #f0b3fd;
}
#status_DRW {
  /* background-color: #3399f9; */
  background-color: #eb9afc;
}
#status_DRX {
  /* background-color: #4da5f9; */
  background-color: #dabff3;
}
#status_DRY {
  /* background-color: #66b2fa; */
  background-color: #ecccfe;
}
#status_DRZ {
  background-color: #b897fb;
}


.wrap {
  width: 100%;
  overflow: hidden;
}
.chit {
  font-family: sans-serif;
  text-align: center;
  padding: 5px;
}
.chat {
  font-family: sans-serif;
  padding: 5px;
}

.chat a:link {
    text-decoration: underline;
}

.label {
  width: 80px;
  float: left;
}
.tile {
   width: 50px;
   height: 50px;
   margin: 1px;
   /* padding-bottom: 25%; */
   background-color: #000;
   color: #FFF;
   position: relative;
   float: left;
}
.tileContent {
   position: absolute;
   left: 1px;
   right: 1px;
   top: 1px;
   bottom: 1px;
   color: #000;
   background-color: #005ee5;
   text-align: center;
   font-family: sans-serif;
}
.numberText {
  font-weight: bold;
  font-size: 16pt;
}
.altNumberText {
  color: #00D;
  font-weight: bold;
  font-size: 16pt;
}
h3 {
  font-family: sans-serif;
}
h2 {
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
}
.hide_me {
  color: white;
}

.tilearea {
  clear: both;
  float: left;
}

.div_reset {
  clear: both;
  float: left;
}
