/* CSS declarations go here */
a {
  text-decoration:none;
}
a:link {
color: #000;
}
a:visited {
color: #000;
}
a:hover {
color: #000;
}
a.nav {
  text-decoration: underline;
}
/*
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
}
td {
	padding: 0px 0px 3px 3px;
}
*/
table.grid {
  font-family: Arial, Geneva, sans-serif;
  font-size: larger;
  width: 20px;
  padding: 2px 2px 6px 6px;
}
.cleanTable {
  border: 0px solid #FFF;
  background: #EEE;
  margin: 2px 2px 2px 2px;
}
#status_SMB {
	background-color: #ff9d00;
}
#status_ASK {
	background-color: #FFF200;
}
#status_FLY {
	background-color: #FF5050;
}
#status_LOK {
	background-color: #FFA;
}
#status_PUP {
	background-color: #3C3;
}
#status_RIDE {
	background-color: #FF0;
}
#status_AID {
	background-color: #F6C;
}
#status_FIN {
  background: #FFF;
  color: #3C3;
}
#status_NOT {
  background: #DDD;
}
#status_DNF {
  background: #DDD;
}
#status_ {
  background: #DDD;
}
.wrap {
  width: 100%;
  overflow: hidden;
}
.chit {
  font-family: sans-serif;
  text-align: center;
  padding: 5px;
}
.chat {
  font-family: sans-serif;
  padding: 5px;
}
.tile {
   width: 50px;
   height: 50px;
   margin: 1px;
   /* padding-bottom: 25%; */
   background: #000;
   color: #FFF;
   position: relative;
   float: left;
}
.tileContent {
   position: absolute;
   left: 1px;
   right: 1px;
   top: 1px;
   bottom: 1px;
   color: #000;
   background: #DDF;
   text-align: center;
   font-family: sans-serif;
}
.numberText {
  font-weight: bold;
  font-size: 16pt;
}
.altNumberText {
  color: #00D;
  font-weight: bold;
  font-size: 16pt;
}
h3 {
  font-family: sans-serif;
}
h2 {
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
}
.hide_me {
  color: white;
}