/* CSS declarations go here */
a {
  text-decoration:none;
}
a:link {
color: #000;
}
a:visited {
color: #000;
}
a:hover {
color: #000;
}
a.nav {
  text-decoration: underline;
}
/*
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
}
td {
	padding: 0px 0px 3px 3px;
}
*/
table.grid {
  font-family: Arial, Geneva, sans-serif;
  font-size: larger;
  width: 20px;
  padding: 2px 2px 6px 6px;
}
.cleanTable {
  border: 0px solid #FFF;
  background: #EEE;
  margin: 2px 2px 2px 2px;
}
#status_SMB {
	background-color: #ff9d00;
	color: #000;
}
#status_ASK {
	background-color: #FFF200;
	color: #000;
}
#status_MSG {
	/* background-color: #a300ff; */
	/* background-color: #40b5fd; */
	background-color: #009eff;
	color: #000;
}
/* problem with SPOT configuration - messages not parsable */
#status_SPOT {
	background-color: #9595f9;
	color: #000;
}

/* landed in goal, but not PUP yet */
#status_LZ1{
	background-color: #c6e83e;
	color: #000;
}
#status_LZ2{
	background-color: #AAA;
	color: #000;
}
#status_GOL {
	background-color: #c4c483;
	color: #000;
}
#status_FLY {
	background-color: #FF5050;
	color: #000;
}
#status_LOK {
	background-color: #FFA;
	color: #000;
}
#status_PUP {
	background-color: #3C3;
	color: #000;
}
#status_TST {
	background-color: #affbf9;
	/* background-color: #00fff9; */
	color: #000;
}
#status_AID {
	background-color: #F6C;
	color: #000;
}
#status_FIN {
  background-color: #FFF;
  color: #3C3;
}
#status_FNL {
  background-color: #FFF;
  color: #3C3;
}
#status_NOT {
  background: #DDD;
  color: #000;
}
#status_ABS {
  background: #DDD;
  color: #000;
}
#status_DNF {
  background: #DDD;
  color: #000;
}

#status_ {
  background: #DDD; 
  color: #000;
}

/* new driver status codes. make as many as you need... */

#status_DRA {
  background: #b500f7;
  color: #FFF;
}
#status_DRB {
  background: #bc1af8;
  color: #FFF;
}
#status_DRC {
  background: #c433f9;
  color: #FFF;
}
#status_DRD {
  background: #cb4df9;
  color: #FFF;
}
#status_DRE {
  background: #d366fa;
  color: #FFF;
}
#status_DRF {
  background: #da80fb;
  color: #FFF;
}
#status_DRG {
  background: #e199fc;
  color: #FFF;
}
#status_DRH {
  background: #e9b3fd;
  color: #FFF;
}
#status_DRI {
  background: #f0ccfd;
  color: #FFF;
}
#status_DRJ {
  background: #f8e6fe;
  color: #FFF;
}
#status_DRK {
  background: #e9b3fd;
  color: #FFF;
}
#status_DRL {
  background: #5200f7;
  color: #FFF;
}
#status_DRM {
  background: #631af8;
  color: #FFF;
}
#status_DRN {
  background: #7533f9;
  color: #FFF;
}
#status_DRO {
  background: #864df9;
  color: #FFF;
}
#status_DRP {
  background: #9766fa;
  color: #FFF;
}
#status_DRQ {
  background: #a980fb;
  color: #FFF;
}
#status_DRR {
  background: #ba99fc;
  color: #FFF;
}
#status_DRS {
  background: #cbb3fd;
  color: #FFF;
}
#status_DRT {
  background: #dcccfd;
  color: #FFF;
}
#status_DRU {
  background: #007ff7;
  color: #FFF;
}
#status_DRV {
  background: #1a8cf8;
  color: #FFF;
}
#status_DRW {
  background: #3399f9;
  color: #FFF;
}
#status_DRX {
  background: #4da5f9;
  color: #FFF;
}
#status_DRY {
  background: #66b2fa;
  color: #FFF;
}
#status_DRZ {
  background: #80bffb;
  color: #FFF;
}



.wrap {
  width: 100%;
  overflow: hidden;
}
.chit {
  font-family: sans-serif;
  text-align: center;
  padding: 5px;
}
.chat {
  font-family: sans-serif;
  padding: 5px;
}

.chat a:link {
    text-decoration: underline;
}

.label {
  width: 80px;
  float: left;
}
.tile {
   width: 50px;
   height: 50px;
   margin: 1px;
   /* padding-bottom: 25%; */
   background: #000;
   color: #FFF;
   position: relative;
   float: left;
}
.tileContent {
   position: absolute;
   left: 1px;
   right: 1px;
   top: 1px;
   bottom: 1px;
   color: #000;
   background-color: #0000ff;
   text-align: center;
   font-family: sans-serif;
}
.numberText {
  font-weight: bold;
  font-size: 16pt;
}
.altNumberText {
  color: #00D;
  font-weight: bold;
  font-size: 16pt;
}
h3 {
  font-family: sans-serif;
}
h2 {
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
}
.hide_me {
  color: white;
}

.tilearea {
  clear: both;
  float: left;
}

.div_reset {
  clear: both;
  float: left;
}
