/* CSS declarations go here */
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
}
td {
	padding: 0px 0px 3px 3px;
}

table.grid td {
    font-family: Arial, Geneva, sans-serif;
	font-size: larger;
	width: 20px;
    padding: 2px 2px 6px 6px;
}

#flying {
	background-color: red;
}
#home {
	background-color: green;
}
#landed {
	background-color: yellow;
}
#scored {
	background-color: blue;
}
